@font-face {
    font-family: "PF DinDisplay Pro"; 
    src: url("./DIN-PRO-BOLD.TTF") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
}

@font-face {
    font-family: "PF DinDisplay Pro"; 
    src: url("./DIN-PRO-CONDENSED-MEDIUM.TTF") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
}

@font-face {
    font-family: "PF DinDisplay Pro"; 
    src: url("./DINPRO-CONDLIGHT.OTF") format("opentype"); 
    font-style: normal; 
    font-weight: 300; 
}